<!-- Tell our template that it can load static files -->
{% load static %}

<!-- General common HTML that will be used for every page -->
<!DOCTYPE html>
<html>
    <head>
        <title>Travel Wishlist</title>
        <!-- CDN(content distribution link) of sakura  -->
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

    <!-- Header that shows up on everypage -->
    <h1 id="site-header" style="background: url('{% static 'img/mountain-cover.jpg' %}') "
    >Where do you want to go?</h1>

    <body>
        {% block content %}
        {% endblock %}
    </body>

    <!-- Adding a footer -->
    <div>
        <p>A travel wishlist, built with Django</p>

        <!-- Review this is an anchor tag. These link will show up in everypage -->
        <a class="nav-link" href="{% url 'place_list' %}">Your wishlist</a>
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>
    </div>

</html>